st@model City 

@if(Model != null)
{
        ViewBag.Title = Model.CityName + " City Weather";
}


@if(Model != null)
{
    <div id="city-center">
        <div class="weather-panel">
            <div class="left-part">
                <h2 class="City-name">@Model.CityName</h2>
                <h3 class="city-time">@Model.DateAndTime.ToString("hh:mm tt")</h3>
            </div>
            <div class="right-part">
                <h1>@Model.TemperatureFahrenheit &#8457 </h1>
            </div>
        </div>
    </div>
    <div id="down">
        <a href="~/" class="back-to-home">Back to Weather Home Page</a>
    </div>
} 

else
{
    <h3>City Code is not valid.</h3>
}