<div class="box">
    <a href="@ViewBag.Socials.Facebook">
        Facebook
    </a>
</div>
<environment exclude="Development">
    <div class="box">
        <a href="@ViewBag.Socials.Instagram">
            Instagram
        </a>
    </div>
</environment>
<div class="box">
    <a href="@ViewBag.Socials.Twitter">
        Twitter
    </a>
</div>
<div class="box">
    <a href="@ViewBag.Socials.Youtube">
        Youtube
    </a>
</div>