<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/StyleSheet.css"/>
</head>
<body>
    <div class = "container">
        <div class="top">
            <h1> Social Media Links </h1>
        </div>
 
        <div class="socials">
            @RenderBody()
        </div>
    </div>
</body>
</html>
